<!DOCTYPE html>
<!-- 注意 xmlns -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>testThymeleaf</title>

<script type="text/javascript" th:inline="javascript">

	var contextPath = [[@{/}]];
	console.log(contextPath);

</script>

</head>
<body>
<h3 th:text="${name}"></h3>
<hr/>
<div shiro:hasPermission="user:add">
<a th:href="@{/user/add}">用户新增</a>
</div>
<div>
<a th:href="@{/user/update}">用户更新</a>
</div>
<div>
<a href="logout">退出</a>
</div>
<p><label th:text="#{welcome}"></label></p>
123
</body>
</html>